<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson_23_24</title>
	<!--сборка начало-->
        <!--<link rel="stylesheet" type="text/css" href="css/src/main.css">-->
		<!--<script data-main="js/src/main" src="js/src/require.js"></script>-->
	<!--сборка конец-->

	<!--Обычный способ начало-->
		<link rel="stylesheet" href="css/src/reset.css">
		<link rel="stylesheet" href="css/src/style.css">
		<script src="js/dist/jquery-3.2.1.min.js"></script>
		<script src="js/dist/lodash.js"></script>
		<script src="js/dist/script1.js"></script>
	<!--Обычный способ конец-->
</head>
<body>
<h1>ToDoList</h1>
<script type="text/template" id="wrapper-template">
    <div class="wrapper">
    <ul class="item-list">

    </ul>
	    <div class="controlls">
		    <input type="text" class="item-value" placeholder="enter value">
		    <button class="item-add">add</button>
	    </div>
    </div>
	</script>
	<script type="text/template" id="list-template">
		<% for (var i=0;i < data.length ;i++) { %>
		<li class="elemList"><%= data[i] %> <span class="item-delete" data-value= "<%= data[i] %>">x</span></li>
		<% }; %>
	</script>


</body>
</html>

