
body {
    font-family: 'League Gothic';
    font-weight: normal;
    font-style: normal;
}
.header {
    height: 517px;
}
.section_top {
    height: 599px;
}
.section_middle {
    height: 787px;
}

.logos {
    height: 422px;
}
.footer {
    height: 200px;
    background-size: cover;
}








