/*div {
    border:1px solid black;
}*/
body {
    background-color: #f9f9f9;
}
.wrapper {
    margin:0 auto;
    width: 1060px;
    border:  1px solid #c8c8c8;
    background-color: #ffffff;
}
.contaner {
    margin-top: 50px;
    margin-left: 46px;
    width: 965px;
    height: 950px;
    font-family: "OpenSans Regular";

}
.content div,
.footer div {
    display: inline-block;
}
.navUp li a{
    color: #ffffff;
}
a {
    text-decoration: none;
}
.navUp li {
    font-family: "Myriad Pro Regular";
    text-shadow:2px 2px 1px #373737 ;
}
.navUp li,
.navDown li {
    display: inline-block;
    margin-left: 20px;
    height: 40px;
    width: 140px;

    text-align: center;
    padding-top: 12px;
}
.navUp li:hover  {
    background-color: #383838;
    border-left: 1px solid #838383;
    border-right:1px solid #838383;
}
.logo,
.menu {
    margin-bottom: 40px;
}
.menu {
    height: 40px;
    color: white;
    background-color: #515151;
    }
.content {
    height: 600px;
    position: relative;
}
.list{
    margin: 0 auto;
    width: 288px;
    height: 100%;
    float: left;
    }
.listN li a{
    font-size: 13px;
    color: #7a7878;
}
.listN  {
    width: 238px;
    border-left:1px solid #c8c8c8;
    border-top:1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}
.listN li{
    padding-top: 10px;
    padding-left: 15px;
    height: 40px;
    width: 238px;
    border-bottom: 1px solid #c8c8c8;

}
.listN li:hover{
    padding-top: 10px;
    padding-left: 20px;
    border-right: 1px solid #c8c8c8;
    background-color: #f9f9f9;
    color: #2c2c2c;
}
.velo_text{
    width: 70%;
}
.bord {
    width: 100%;
    border: 1px solid #c8c8c8;
}
.img {
    height: 400px;
    margin-left: 100px;
    margin-top: 90px;
    }
.fullLatter {
    margin-left: 20px;
    margin-top: 20px;
    }
.footer {
    margin-top: 80px;
    background-color: #e1e1e1;
    position: relative;
    text-decoration: none;
}
.coppyR {
    float: right;
    padding-top: 12px;
    color: #2c2c2c;
}
.navDown li a {
    color:#2c2c2c ;
}
.activ {
    text-decoration: underline;
}
.navDown li:hover {
    text-decoration: underline;
}






