/*div {
    border: 1px solid black;
}*/
/* 1_Positioning */
/* 2_Display & Box Model */
/* 3_Color */
/* 4_Text */
/* 5_Other */
.wrapper {
    margin: 0 auto;
    width: 1280px;
    height: 1020px;
    background-image: url("../img/backround.jpg");
}
.contaner {
    margin: 0 auto;
    width: 1000px;
    height: 890px;
}
.header {
    height: 175px;
    background-color: #ffffff;
}
.header_l,
.header_r {
    display: inline-block;
}
.header_l {
    width: 283px;
    margin-left: 28px;
    margin-top: 8px;

}
.header_r {
    height: 164px;
    float: right;
    margin-top: 10px;
}
.contacts {
    height: 84px;
    width: 160px;
    float: right;
    color: #41a1b9;
    font-family: "Tahoma Regular", serif;
    font-size: 12px;
}
.contacts p {
    text-align: left;
    line-height: 18px;
}
.contacts p:first-line{
    font-weight: bold;
}


.flags {
    clear: both;
    height: 80px;
    width: 360px;
    float: right;
}
.navigation {
margin-top: 13px;
}
.navigation li {
    float: left;
    margin-right: 8px;

}
.navigation li a {
    display: block;
    text-align: center;
    font-size: 10px;
    padding-top: 42px; /* внутренний остту чтобы текст был вне фона */
    color: #128aa7;
    /* выравниваем фон вверх и по центру */
    background: no-repeat center top;
    width: 48px; /* размеры указываем чтобы картинки полностью отобразились */
    height: 50px;
}
.navigation .india a {
    background-image: url("../img/India.png");
}
.navigation .nepal a {
    background-image: url("../img/Nepal.png");
}
.navigation .tibet a {
    background-image: url("../img/Tibet.png");
}
.navigation .bhutan a {
    background-image: url("../img/Bhutan.png");
}
.navigation .sri-lanka a {
    background-image: url("../img/Sri-Lanka.png");
}
.navigation .maldives a {
    background-image: url("../img/Maldives.png");
}
.picture {
    height: 237px;
}
.main_menu {
    height: 29px;
    background-color: #333333;
    color: #ffffff;
    font-family: "Tahoma Regular", serif;
    font-size: 14px;
    border-bottom: 1px solid #000000;
    box-shadow: 0 3px 0 #4f4f50;
}
.menu li {
    float: left;
    text-align: center;
    margin-top: 8px;
    width: 145px;
    position: relative;
}
li.with_sub_menu:after {
    content: url("../img/triangle.png");
    margin-left: 8px;
}
ul.sub_menu{
    margin-top: 21px;
    width: 145px;
    display: block;
    position: absolute;
}
.sub_menu li {
    display: none;
    padding-top: 8px;
    margin-top: 0;
    width: 150px;
    height: 29px;
    background-color: #333333;
}
.sub_menu li a {
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    color: #ffffff;
}
li.with_sub_menu:hover .sub_menu li{
    display: block;
}
.content {
    height: 545px;
    background-color: #ffffff;
}
.cont_l p,
.cont_r p {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #424c43;
}
.cont_l,
.cont_c,
.cont_r{
    border-bottom: 3px solid #031d28;
    float: left;
    height: 545px;
}
.article {
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 24px;
    color: #424c43;
    font-size: 14px;
    line-height: 24px;
}
.cont_l {
    width: 210px;
}
.cont_c {
    width: 580px;
}
.cont_r {
    width: 210px;
}
.cont_l,
.cont_r {
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right:1px solid #c7cacf;
}

p {
    margin-top: 10px;
    text-align: center;
    color: #cee3ec;
    font-size: 12px;
}






