
.icon-cog:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-mobile:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-right-small:before { content: '\e806'; } /* '' */
.icon-params:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */