.container {
  font-family: Ubuntu, serif;
  font-weight: 500;
  max-width: 1920px; }

.content {
  margin: 0 auto;
  height: 100%;
  max-width: 1160px; }

.header {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: center; }

.header-header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px; }

.logo {
  width: 215px;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: center; }

.logo-text {
  margin-left: 5px; }
  .logo-text h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px; }
  .logo-text h6 {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px; }

.linksOut {
  width: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  .linksOut i {
    color: #cccccc;
    font-size: 18px; }
    .linksOut i:hover {
      color: #248cec; }

.nav-header {
  margin-top: 36px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #2a2d32; }
  .nav-header ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%; }
    .nav-header ul li {
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      padding-left: 39px;
      padding-right: 39px;
      border-right: 1px solid #000000; }
      .nav-header ul li:first-child {
        background-color: #248cec; }
      .nav-header ul li a {
        font-family: 'Ubuntu Condensed', serif;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: normal; }
        .nav-header ul li a:hover {
          color: #f4b60d; }
  .nav-header div {
    width: 230px;
    height: 80%;
    margin-right: 15px;
    border: 1px solid #000000;
    background-color: #35383c; }
    .nav-header div input {
      width: 80%;
      height: 100%;
      background-color: transparent;
      color: #424548;
      border-color: transparent;
      padding-left: 1rem; }

.slider {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  overflow: hidden; }

.jcarousel img {
  object-fit: cover; }

.articles {
  height: 340px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.article {
  height: 185px;
  width: 33%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start; }

.article-number {
  width: 120px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start; }
  .article-number span {
    margin-top: -15px;
    font-weight: bold;
    font-size: 90px;
    color: #efeff0; }

.article-content {
  width: 67%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center; }

.article-img {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start; }
  .article-img i {
    color: #f4b60d;
    font-size: 30px; }

.article-text {
  margin-top: 13px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start; }
  .article-text h2 {
    font-weight: bold;
    color: #2a2b2e;
    font-size: 20px; }
  .article-text p {
    margin-top: 20px;
    font-family: Arial, serif;
    font-weight: normal;
    color: #8a8a8a;
    font-size: 13px;
    line-height: 20px; }
  .article-text h6 {
    margin-top: 10px; }
    .article-text h6 a {
      text-decoration: none;
      font-weight: bold;
      color: #2a2b2e;
      font-size: 13px; }
      .article-text h6 a:hover {
        color: #549eef; }
      .article-text h6 a:hover > i {
        color: #989fb3; }
      .article-text h6 a i {
        color: #248cec;
        font-size: 13px; }

.main {
  background-color: #2a2d32; }

.main-header {
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center; }
  .main-header p {
    width: 100%;
    margin-top: 45px;
    text-align: left;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 24px; }
  .main-header div {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    .main-header div figure:hover figcaption {
      color: #f4b60d; }
    .main-header div figure div p {
      display: none; }
    .main-header div figure div a {
      position: relative; }
      .main-header div figure div a:hover p {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -45px;
        left: 0;
        width: 258px;
        height: 258px;
        font-size: 60px;
        color: #FFFFFF;
        background-color: #2e8ce3;
        opacity: 0.9; }
      .main-header div figure div a img {
        width: 258px;
        height: 258px;
        object-fit: cover; }
    .main-header div figure figcaption {
      margin-top: 35px;
      text-align: center;
      font-weight: bold;
      color: #FFFFFF;
      font-size: 16px; }

.main-middle {
  width: 100%;
  height: 540px;
  background-color: #f7f7f7; }

.wrapNews {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.articleNews {
  width: 49%;
  height: 99%; }
  .articleNews .headerNews {
    margin-top: 64px;
    margin-bottom: 48px;
    color: #2a2d32;
    font-weight: bold;
    font-size: 24px; }
  .articleNews .sectNews {
    margin-bottom: 30px;
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    .articleNews .sectNews .artNew {
      width: 70%; }

.photo {
  position: relative; }
  .photo img {
    width: 150px;
    height: 150px;
    object-fit: cover; }
  .photo div {
    position: absolute;
    top: 12px;
    left: -20px; }
    .photo div p {
      width: 40px;
      height: 40px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center; }
      .photo div p:first-child {
        background-color: #248cec;
        color: #FFFFFF; }
      .photo div p:last-child {
        background-color: #f4b60d;
        color: #000000; }

.artNew {
  height: 100%; }
  .artNew h3 a {
    font-weight: bold;
    font-size: 16px;
    color: #2a2d32;
    text-decoration: none; }
    .artNew h3 a:hover {
      color: #248cec; }
  .artNew h6 {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #9d9d9d; }
    .artNew h6 span {
      color: #0187f4; }
  .artNew p {
    margin-top: 30px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #8a8a8a; }

.main-footer {
  height: 240px;
  background-color: #ffffff; }

.sponsors {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.footHeader {
  height: 324px;
  background-color: #2a2d32; }
  .footHeader section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start; }

.menuFooter {
  width: 24%; }
  .menuFooter h1 {
    margin-top: 60px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase; }
  .menuFooter ul {
    margin-top: 50px;
    width: 100%; }
    .menuFooter ul li {
      width: 100%;
      height: 34px;
      border-bottom: 1px solid #393c40;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center; }
      .menuFooter ul li:hover a {
        color: #248cec; }
      .menuFooter ul li:last-child {
        border-bottom: transparent; }
      .menuFooter ul li a {
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 13px;
        color: #828385; }

.footerFooter {
  height: 60px;
  background-color: #35383c; }
  .footerFooter section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    .footerFooter section span {
      margin-right: 45px;
      color: #5d6063;
      font-family: Arial, serif;
      font-size: 12px; }
      .footerFooter section span i {
        margin-left: 13px; }

/*# sourceMappingURL=style.css.map */
