@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/LeagueGothic-Regular.eot');
    src: url('../fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LeagueGothic-Regular.woff') format('woff'),
    url('../fonts/LeagueGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Extrabold.eot');
    src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Extrabold.woff') format('woff'),
    url('../fonts/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}