
body {
    font-family: 'League Gothic';
    font-weight: normal;
    font-style: normal;
}
.header {
    margin: 0 auto;
    background: url("../img/background_1.jpg") top center no-repeat;
    height: 846px;
    border:1px solid transparent;
}

.header__head {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1040px;
}
.logo {
    margin-left: 36px;
}
.logo__a {
    text-decoration: none;
}
 .sp__first {
    color: #ffffff;
    font-size: 48px;
}
.sp__second {
     background: linear-gradient(#745083, #33263a);
     -webkit-background-clip: text;
     color: transparent;
    font-size: 48px;
}
.navigation__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 722px;
}
.navigation__list li {
    padding: 6px;
    border-bottom: 2px solid transparent;
}
.navigation__list li:hover {
    border-bottom: 2px solid #edbfff;
}
.navigation__list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.presentation {
    margin-top: 164px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 400px;
    background-color:RGBA(0,0,0,0.2);
}
.slider_l {
    margin-right: 292px;
}
.slider_r {
    margin-left: 292px;
}
.article__top {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 960px;
}
.article__top__content {
    width: 51%;
}
.article__top__content h1 {
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.article__top__content h2 {
    font-size: 32px;
    color: #edbfff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.article__top__content p {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #ffffff;
    line-height: 24px;
    font-weight: 300;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.article__top__img {
    width: 42%;
    text-align: center;
}
.article__top__img img {

}
.radio_top {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.radio_top img {
    margin-left: 75%;
}
.radio_top:hover {
    cursor: pointer;
}
.section_top {
    margin-left: auto;
    margin-right: auto;
    height: 340px;
    background: linear-gradient(to top,#33253a,#745083);
}
.content {
    margin:0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 960px;
    height: 338px;
}
.wrap__sprite_content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 30%;
}
.content__text {
    width: 80%;
    color: #ffffff;
}
.content__text h1 {
    font-size: 30px;
    text-shadow: 1px 1px 0px #0f1518;
}
.content__text p {
    margin-top: 10px;
    line-height: 24px;
    text-shadow: 1px 1px 0 #0f1518;
    font-family: 'Open Sans';
    overflow: hidden;
    text-overflow: clip;
    font-size: 16px;
    font-weight: 300;
}
.content__text h3 {
    margin-top: 27px;
    text-align: right;
    text-shadow: 1px 1px 0 #0f1518;
}

.content__text a {
    text-decoration:none;
    color: #ffffff;
    font-size: 18px;
}
.content__text a:hover {
    text-shadow: 0px 0px 8px  rgba(255, 255, 255, 0.8);
}
.sprite__key,
.sprite__think,
.sprite__nota {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    height: 35px;
    margin-top: 8px;
}
.sprite__key {
    width: 30px;
    height: 31px;
    background-position: -5px -5px;
}
.sprite__think {
    width: 33px;
    height: 29px;
    background-position: -5px -46px;
}
.sprite__nota {
    width: 29px;
    height: 31px;
    background-position: -45px -5px;
}
.section_middle {
    margin-left: auto;
    margin-right: auto;
    height: 486px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
}
.section_middle__wrap_content {
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: distribute;
    align-content: space-between;
    width: 960px;
    height: 100%;
    padding: 1%;
}
.articles__left,
.articles__right {
    height: 323px;
}
.articles__left {
    width: 45%;
    padding-right: 13px;
    background: url("../img/bg_for_letter.png") center;
    background-repeat: no-repeat;
    background-size: cover;
}
.avatar h1 {
    margin-left: 14px;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 1px 1px 0px 0px  #ffffff;
}
.starts {
    font-size: 30px;
    text-transform: uppercase;
    color: #edbfff;
    text-shadow: 1px 1px 0px 0px  #ffffff;
}
.avatar {
    margin-top: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height:51px ;
}
.avatar img {
    margin-left: -25px;
}
.articles__left p {
    margin-left: 35px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #454545;
    overflow: hidden;
    text-overflow: clip;
    text-shadow: 1px 1px 0px 0px  #ffffff;
}
.articles__right{
    width: 47%;
}
.articles__right__notes {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 14px;
}
.articles__right h1 {
    margin-top: 47px;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 1px 1px 0px 0px  #ffffff;
}
.circle__first {
    margin-top: 13px;
}
.img__circle {
    width: 50px;
    text-align: center;
}

.announcement h5 {
    overflow: hidden;
    text-overflow: clip;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #454545;
    font-weight: 800;
    margin-bottom: 2px;
    text-shadow: 1px 1px 0px #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 11px;
    height: 24px;
    line-height: 1.2em;
}
.announcement p {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #454545;
    overflow: hidden;
    text-overflow: clip;
    font-weight: 300;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 11px;
    height: 24px;
    line-height: 1.2em;
    text-shadow: 1px 1px 0px #ffffff;
}
.next {
    height: 20px;
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.next a{
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #454545;
    text-shadow: 1px 1px 0px #ffffff;
}
.wrap__logos {
    border: 1px solid #fefefe;
    background-color: #f9f9f9;
}
.logos {
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack:space-around ;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 120px;
    width: 100%;
    width: 960px;
}
.logos_img {
    height: 65px;
}
.logos1 {
    background-image: url("../img/logos1.png");
    width: 69px;
}
.logos2 {
    background-image: url("../img/logos2.png");
    width: 73px;
}
.logos3 {
    background-image: url("../img/logos3.png");
    width: 65px;
}
.logos4 {
    background-image: url("../img/logos4.png");
    width: 52px;
}
.logos5 {
    background-image: url("../img/logos5.png");
    width: 107px;
}
.logos6 {
    background-image: url("../img/logos6.png");
    width: 82px;
}

.radio {
    height: 21px;
    text-align: center;
    margin-top: 55px;
}
.radio:hover {
    cursor: pointer;
}

.section_down {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ececec;
    border-top: 1px solid #d8d8d8;
    height: 396px;
}
.wrapp__section_down__news {
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width:960px ;
}
.section_down__news {
    width: 30%;
}
.sp__first--down {
    color: #454545;
    font-size: 48px;
    text-shadow: 0px 1px 0px #ffffff;
}
.sp__second--down {
    color: #b9b9b9;
    font-size: 48px;
    text-shadow: 0px 1px 0px #ffffff;
}
.cm__left h6 {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Georgia';
    color: rgb(197, 197, 197);
    font-style: italic;
    text-shadow: 1px 1px 0px 0px #ffffff;
}
.cm__left p {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Open Sans';
    color: rgb(120, 120, 120);
    line-height: 1.5;
    text-align: left;
    text-shadow: 1px 1px 0px 0px #ffffff;
    font-weight: 300;
}
.cm__center h2,
.cm__right h2 {
    font-size: 30px;
    color: rgb(69, 69, 69);
    text-shadow:1px 1px 0px #ffffff;
}
.cm__center p,
.cm__right p {
    margin-top: 7px;
    font-size: 16px;
    font-family: 'Open Sans';
    color: rgb(120, 120, 120);
    line-height: 24px;
    font-weight: 300;
    text-shadow: 1px 1px 0px 0px #ffffff;
}
.footer {
    margin-left: auto;
    margin-right: auto;
    background: url("../img/bg_footer.jpg") center;
    height: 114px;
}
.wrap__nav--footer {
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 960px;
    height: 114px;
}
.nav__down {
    width: 595px;
}
.nav__down a{
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.des__first {
    font-size: 12px;
    font-family: 'Open Sans';
    color: #ffffff;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.des__second {
    font-size: 12px;
    font-family: 'Open Sans';
    color: #ffffff;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}









