@media (min-width: 768px) and (max-width: 959px) {
    .section {
        width: 768px;
    }
    .header {
        height: 789px;
        border:1px solid transparent;
    }
    .header__head {
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        width: 728px;
    }
    .logo {
        margin-left: 0;
    }
    .navigation__list {
        margin-top: 39px;
    }
    .presentation {
        margin-top: 80px;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .article__top {
        width: 708px;
    }
    .article__top__content h1 {
        font-size: 48px;
    }
    .article__top__content h2 {
        font-size: 24px;
    }
    .article__top__content p {
        font-size: 16px;
    }
    .slider_l {
        margin-right: 0;
    }
    .slider_r {
        margin-left: 0;
    }
    .radio_top {
        margin-top: 40px;
    }
    .announcement p {
        width: 310px;
    }
    .libero {
        display: none;
    }
    .footer {
        height: 200px;
        background-size: cover;
    }
    .wrap__nav--footer {
        display: block;
        border: 1px solid transparent;
    }
    .nav__down {
        margin-top: 47px;
        margin-bottom: 40px;
    }
    .designed {
        text-align: right;
    }
}