body {
    font-family: 'League Gothic';
    font-weight: normal;
    font-style: normal;
}
.container {
    margin: 0 auto;
    max-width: 960px;
    min-width: 870px;
}
.wrapper__img {
    background: url("../img/background_1.jpg") top center no-repeat;
    height: 847px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}
.wrapper__gradient {
    height: 342px;
}
.wrapper__news {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    height: 486px;
}
.wrapper__company {
    border: 1px solid #fefefe;
    background-color: #f9f9f9;
    height: 120px;
}
.wrapper__gray {
    background-color: #ececec;
    border-top: 1px solid #d8d8d8;
    height: 396px;
}
.wrapper__footer {
    background-position: center;
    background-image: url("../img/bg_footer.jpg");
    background-size: cover;
    height: 114px;
}
.page__header {
    margin-top: 70px;
    border:1px solid transparent;
    width: 100%;
}
.section__gradient {
    height: 100%;
}
.section__news {
    height: 100%;
}
.section__company {
    height: 100%;
}
.section__gray {
    height: 100%;
}
.section__footer {
    height: 100%;
}
a {
    text-decoration: none;
}
.navbar--top {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    min-width: 900px;
}
.logo {
    margin-left: 90px;
}
.nav__link--initial {
    border-bottom: transparent;
}
.menu__top  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 722px;
}
.menu__top a {
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.menu__top li{
    padding: 6px;
    border-bottom: 2px solid transparent;
}
.menu__top li:hover {
    border-bottom: 2px solid #edbfff;
}
.wrap__presentation {
    width: 100%;
    margin-top: 164px;
    height: 400px;
    background-color:RGBA(0,0,0,0.2);
}
.presentation {
    margin: 0 auto;
    height: 100%;
    max-width: 1603px;
    min-width: 900px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.section__presentation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    min-width: 840px;
}
.article__presentation {
    width: 50%;
}
.article__presentation__img {
    width: 29%;
    margin-right: 7.3%;
}
.article__presentation__img img{
    width: 100%;
    height: auto;
}
.article__presentation h1{
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.article__presentation h2{
    font-size: 32px;
    color: #edbfff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-overflow: clip;
    height: 1em;
}
.article__presentation p{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #ffffff;
    line-height: 24px;
    font-weight: 300;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.wrapp__radio {
    width: 100%;
}
.radio__presentation {
    margin-top: 90px;
}
.radio__presentation img {
    margin-left: 77%;
}
.radio img:hover {
    cursor: pointer;
}
.wrapper__gradient {
    background: linear-gradient(to top,#33253a,#745083);
}
.section__gradient{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
}
.section__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    height: auto;
    width: 30%;
}
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    height: 35px;
    width: 31px;
    margin-top: 8px;
}
.sprite__key {
    width: 30px;
    height: 31px;
    background-position: -5px -5px;
}
.sprite__think {
    width: 33px;
    height: 29px;
    background-position: -5px -46px;
}
.sprite__nota {
    width: 29px;
    height: 31px;
    background-position: -45px -5px;
}
.gradient__content {
    color: #ffffff;
    width: 83%;
}
.gradient__content h1 {
    font-size: 30px;
    text-shadow: 1px 1px 0px #0f1518;
}
.gradient__content p {
    margin-top: 10px;
    line-height: 24px;
    text-shadow: 1px 1px 0 #0f1518;
    font-family: 'Open Sans';
    overflow: hidden;
    text-overflow: clip;
    font-size: 16px;
    font-weight: 300;
}
.gradient__content h3 {
    margin-top: 1rem;
    text-align: right;
    margin-right: 20px;
}
.gradient__content a {
    color: #ffffff;
    font-size: 18px;
    text-shadow: 1px 1px 0 #0f1518;
}
.gradient__content a:hover {
    text-shadow: 0px 0px 8px  rgba(255, 255, 255, 0.8);
}
.section__news {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.articles__left,
.articles__right{
    width: 45%;
    height: 60%;
}
.articles__left {
    background: url("../img/bg_for_letter.png") center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.articles__left__header {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.articles__left__header {
    margin-left: -25px;
}
.articles__left__header h1 {
    margin-left: 14px;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 1px 1px 0px 0px  #ffffff;
}
.starts {
    font-size: 30px;
    text-transform: uppercase;
    color: #edbfff;
    text-shadow: 1px 1px 0px 0px  #ffffff;
}
.articles__left p {
    margin-left: 35px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #454545;
    overflow: hidden;
    text-overflow: clip;
    text-shadow: 1px 1px 0px 0px  #ffffff;
    height: 66%;
}
.radio__article {
    position: absolute;
    bottom: -25px;
    left: 40%;
}
.articles__right h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 1px 1px 0px 0px  #ffffff;
    margin-top: 30px;
}
.item__article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}
.circle__first {
    margin-top: 15px;
}
.announcement {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.announcement h5 {
    overflow: hidden;
    text-overflow: clip;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #454545;
    font-weight: 800;
    text-shadow: 1px 1px 0px #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 11px;
    height: 24px;
    line-height: 1.2em;
}
.announcement p {
    margin-top: 0;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #454545;
    overflow: hidden;
    text-overflow: clip;
    font-weight: 300;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 11px;
    height: 24px;
    line-height: 1.2em;
    text-shadow: 1px 1px 0px #ffffff;
}
.next {
    height: 20px;
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.next a {
    text-decoration: none;
    font-size: 18px;
    color: #454545;
    text-shadow: 1px 1px 0px #ffffff;
}
.section__company {
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
}
.logos_img {
    height: 65px;
}
.logos1 {
    background-image: url("../img/logos1.png");
    width: 69px;
}
.logos2 {
    background-image: url("../img/logos2.png");
    width: 73px;
}
.logos3 {
    background-image: url("../img/logos3.png");
    width: 65px;
}
.logos4 {
    background-image: url("../img/logos4.png");
    width: 52px;
}
.logos5 {
    background-image: url("../img/logos5.png");
    width: 107px;
}
.logos6 {
    background-image: url("../img/logos6.png");
    width: 82px;
}
.section__gray {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.gray__left,
.gray__center,
.gray__right {
    width: 30%;
}
.sp__first--down {
    color: #454545;
    font-size: 48px;
    text-shadow: 0px 1px 0px #ffffff;
}
.sp__second--down {
    color: #b9b9b9;
    font-size: 48px;
    text-shadow: 0px 1px 0px #ffffff;
}
.gray__left h6 {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Georgia';
    color: rgb(197, 197, 197);
    font-style: italic;
    text-shadow: 1px 1px 0px  #ffffff;
}
.gray__left p {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Open Sans';
    color: rgb(120, 120, 120);
    line-height: 24px;
    text-align: left;
    text-shadow: 1px 1px 0px  #ffffff;
    font-weight: 300;
}
.gray__center h2,
.gray__right h2 {
    font-size: 30px;
    color: rgb(69, 69, 69);
    text-shadow:1px 1px 0px #ffffff;
}
.gray__center p,
.gray__right p {
    margin-top: 7px;
    font-size: 16px;
    font-family: 'Open Sans';
    color: rgb(120, 120, 120);
    line-height: 24px;
    font-weight: 300;
    text-shadow: 1px 1px 0px  #ffffff;
}
.section__footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.menu--down {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 595px;
}
.menu--down a{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.menu--down li{
    padding: 3px;
    border-bottom: 2px solid transparent;
}
.menu--down li:hover {
    border-bottom: 2px solid #edbfff;
}

.des__first {
    font-size: 12px;
    font-family: 'Open Sans';
    color: #ffffff;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.des__second {
    font-size: 12px;
    font-family: 'Open Sans';
    color: #ffffff;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}






