@media (min-width: 320px) and (max-width: 479px) {
    .section {
        width: 320px ;
    }
    .header {
        height: 517px;
    }
    .section_top {
        height: 599px;
    }
    .section_middle {
        height: 787px;
    }

    .logos {
        height: 422px;
    }
    .footer {
        height: 200px;
        background-size: cover;
    }
    .header__head {
        margin-top: 54px;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
    }
    .navigation {
        position: relative;
    }
    .list__top {
        position: absolute;
        top:25px;
        left: -80px;
        display: block;
        width: 160px;
        border-radius: 16px;
    }
    .list__first {
        background-color: RGBA(63,51,71,.0);
    }
    .list_next {
        visibility: hidden;
    }
    .navigation__list li{
        height: 43px;
        text-align: center;
        padding: 13px;
    }
    .navigation__list li:hover {
        background-color: transparent;
        border-bottom: transparent;
    }
    .list__top:hover   {
        background-color: RGBA(63,51,71,.9);
    }
    .list__top:hover .list_next  {
        visibility: visible;
    }
    .navigation__list li:hover {
        background-color: #2d2533;
        border-bottom: 1px solid #edbfff;
    }
    .list__first:hover {
        border-radius: 16px 16px 0px 0px;
    }
    .navigation__list li:last-child:hover {
        border-radius:  0px 0px 16px 16px;
    }
    .presentation {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 191px;
        height: 60px;
        background-color: transparent;
    }
    .home{
        border-bottom: 1px solid #edbfff;
    }
    .slider_l {
        margin-right: 0;
    }
    .article__top  {
        width: 260px;
        height: 60px;
    }
    .slider_r {
        margin-left: 0;
    }
    .article__top__content p,
    .article__top__img {
        display: none;
    }
    .article__top__content {
        width: 100%;
    }
    .article__top__content h1{
        font-size: 36px;
    }
    .article__top__content h2{
        font-size: 18px;
    }
    .radio_top {
        margin-top: 80px;
    }
    .radio_top img{
        margin-left: 33%;
    }
    .content  {
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .wrap__sprite_content {
        width: 95%;
    }
    .section_middle__wrap_content {
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .articles {

    }
    .articles__left,
    .articles__right {
        width: 95%;
        height: 49%;
    }
    .articles__left {

        padding-left: 40px;
        padding-right: 13px;
    }
    .articles__right {
        padding-left: 0;
    }
    .articles__left h1 {
        margin-top: 0;
        margin-left: 13px;
        font-size: 24px;
    }

    .radio {
        margin-bottom: 0px;
    }
    .starts {
        display: block;
        font-size: 24px;
    }
    .libero {
        display: none;
    }

    .articles__left p {

        font-family: "Open Sans Light";
        font-size: 16px;
        line-height: 22px;
        color: #454545;
    }
    .logos {
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
    .logos_img  {
        margin: 6%;
    }
    .section_down {
        display: none;
    }
    .nav__footer {
        display: none;
    }
    .wrap__nav--footer {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: distribute;
        justify-content:center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

    }
}