@media (min-width: 480px) and (max-width: 767px) {
    .section {
        width: 480px ;
    }
    .header {
        height: 541px;
    }
    .header__head {
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
    }
    .navigation {
        position: relative;
    }
    .list__top {
        position: absolute;
        top:25px;
        left: -120px;
        display: block;
        width: 244px;
        border-radius: 16px;
    }
    .list_next {
        visibility: hidden;
    }
    .navigation__list li{
        height: 43px;
        text-align: center;
        padding: 13px;
    }
    .list__top:hover   {
        background-color: RGBA(63,51,71,.9);
    }
    .list__top:hover .list_next  {
           visibility: visible;
    }
    .navigation__list li:hover {
        background-color: #2d2533;
        border-bottom: 1px solid #edbfff;
    }
    .list__first:hover {
        border-radius: 16px 16px 0px 0px;
    }
    .navigation__list li:last-child:hover {
        border-radius:  0px 0px 16px 16px;
    }
    .home{
        border-bottom: 1px solid #edbfff;
    }
    .presentation {
        margin-top: 98px;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 245px;
    }
    .article__top {
        width: 440px;
    }
    .article__top__content  {
        width: 57%;
    }
    .article__top__content h1 {
        font-size: 36px;
    }
    .article__top__content h2 {
        font-size: 18px;
    }
    .article__top__content p {
        display: none;
    }
    .article__top__img img {
        width: 180px;
        height: auto;
    }
    .slider_l {
        margin-right: 0;
    }
    .slider_r {
        margin-left: 0;
    }
    .radio_top {
        margin-top: 13px;
    }
    .radio_top img{
        margin-left: 50%;
    }
    .section_top {
        height: 597px;
    }
    .content {
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .wrap__sprite_content {
        width: 92%;
    }
    .section_middle {
        height: 1020px;

    }

    .section_middle__wrap_content {
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .logos {
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        height: 223px;
        width: 340px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
    .logos_img  {
        margin: 4%;
    }
    .articles__left,
    .articles__right {
        width: 95%;
    }
    .articles__right {
        padding-left: 0;
    }
    .articles {
        height: 790px;
    }
    .section_down {
        height: 667px;
    }
    .wrapp__section_down__news {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
    .section_down__news {
        width: 95%;
    }
    .footer {
        height: 200px;
        background-size: cover;
    }
    .nav__footer {
        display: block;
    }
    .nav__down {

        position: static;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        background-color: transparent;
        border-radius: 0;
    }
    .nav__down li:hover a{
        border-bottom: 1px solid #edbfff;
    }
    .nav__down li:hover {
        background-color: transparent;
        border-bottom: transparent;
    }
    .nav__down li a{
        font-size: 20px;
        color: #ffffff;
    }
    .wrap__nav--footer {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;

    }

}