{
  "rules": {
	"brace-style": 2,
	"comma-dangle": [2, "never"],
	"comma-spacing": [2, {"before": false, "after": true}],
	"curly": 2,
	"eol-last": [1],
	"indent": [2, 4, {"SwitchCase": 1}],
	"linebreak-style": [2, "unix"],
	"no-cond-assign": 2,
	"no-dupe-args": 2,
	"no-dupe-keys": 2,
	"no-duplicate-case": 2,
	"no-else-return": 2,
	"no-empty": 2,
	"no-extra-semi": 2,
	"no-fallthrough": 1,
	"no-func-assign": 2,
	"no-irregular-whitespace": 2,
	"no-multi-spaces": 2,
	"no-negated-in-lhs": 2,
	"no-sparse-arrays": 2,
	"no-trailing-spaces": [2, { "skipBlankLines": true }],
	"no-unexpected-multiline": 2,
	"no-unreachable": 2,
	"semi": 2,
	"space-after-keywords": [2, "always"],
	"space-before-blocks": [2, "always"],
	"space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
	"space-in-parens": [2, "never"],
	"space-infix-ops": 2,
	"valid-jsdoc": 2
  }
}
